#wrapper{
    position: relative;
}
#background{
    width: 1170px;
    height: 700px;
    margin-left: 180px;
}
#logo{
    position: absolute;
    margin-left: 328px;
    margin-top: -90px;
    height: 500px;
}
#img-start{
    position: absolute;
    left: 390px;
    bottom: 60px;
    height: 200px;
    width: 200px;
}
#img-help{
    position: absolute;
    left: 950px;
    bottom: 60px;
    height: 200px;
    width: 200px;
}

#img-start:hover{
  transform: scale(1.1);
}
#img-help:hover{
    transform: scale(1.1);
}