#wrapper{
    position: relative;
}
#background{
    width: 75%;
    height: 55%;
    margin-left: 13%;
}
#logo{
    position: absolute;
    margin-left: 22%;
    margin-top: -5%;
    height: 70%;
}
#img-start{
    position: absolute;
    left: 27%;
    bottom: 8%;
    height: 27%;
    width: 13%;
}
#img-help{
    position: absolute;
    left: 62%;
    bottom: 8%;
    height: 27%;
    width: 13%;
}

#img-start:hover{
  transform: scale(1.1);
}
#img-help:hover{
    transform: scale(1.1);
}