/*가로 스크롤바 없앰*/
/* body{  
    overflow-x: hidden;
    overflow-y: auto;
} */
body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
/*북극 배경*/
#background{
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    
}

