#back{
   position: relative; 
}
#background{
    width: 900px;
    margin-left: 170px;
    opacity: 0.6;
}
#char{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 990px;
    top: -10px;   
}
#span{
    position: absolute;
    font-weight: 900;
    font-size: 18px;
    color: #004268;
    right: 910px;
    bottom: 510px;
}
#back_2{
   position: relative; 
}
#draw{
    position: absolute;
    width: 370px;
    margin-left: 680px;
    top: -530px;
}