#back{
   position: absolute; 
}
#background{
    width: 75%;
    height: 55%;
    margin-left: 13%;
    opacity: 0.6;
    
}
#char{
    position: absolute;
    width: 7%;
    height: 14%;
    left: 12%;
    top: -2%;
}
#span{
    position: absolute;
    font-weight: 1000;
    width: 100%;
    height: 100%;
    color: #004268;
    left: 18%;
    top: 3%;
}
#back_2{
   position: relative; 
}
#draw{
    position: absolute;
    width: 30%;
    margin-left: 55%;
    margin-top: -44%;
}
.warp{
    
    position: absolute;
    margin-top: -240px;
}
.keyboard{
    
    padding-left: 200px;
    padding-bottom: 25px;
    
}
.keyboard button{
    background-color: white;
    color: #004268;
    font-weight: bold;
    font-size: 19px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-left: 30px;
   
}
